<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<script src="http://apps.bdimg.com/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<!-- header -->
	<div class="banner">
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="/index"><img src="../static/images/logo.png" class="img-responsive" alt="" /></a>
				</div>
				<div class="head-nav">
						<span class="menu"> </span>
							<ul>
								<li class="active"><a href="/index">首页</a></li>
								<li><a href="/products">产品</a></li>
								<li><a href="/services">服务</a></li>
								<li><a href="/contact">关于</a></li>
								<div class="clearfix"> </div>
						</ul>
				</div>
					<div class="clearfix"> </div>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav -->
			</div> 
		</div>
		<div class="container">
			<div class="wmuSlider example1 section" id="section-1">
			   <article style="position: absolute; width: 100%; opacity: 0;"> 
			   	   	<div class="banner-info">

						<div class="col-md-7 info1">
							<img src="../static/images/phone.png" class="img-responsive" alt="" />
						</div>

						<div class="col-md-5  info">
							<h1 >私人订制</h1>
							<p class="h3">Android/IOS原生态应用开发 </p>
							<p class="h3">Web企业级网站建设</p>
							<p class="h3">API全套接口调用 </p>
							<p class="h3">大数据精确推荐 </p>
							<!--<a class="sign" href="#">Sign up now</a>-->
							<!--<a href="#"><i class="tick"></i></a>-->
						</div>
							<div class="clearfix"> </div>
					</div>
				</article>
				 <article style="position: absolute; width: 100%; opacity: 0;"> 
			   	   	<div class="banner-info">

						<div class="col-md-12  info1">
							<img src="../static/images/carousel-1.png" class="img-responsive" alt="" />
						</div>
						<!--<div class="col-md-3  info">-->
							<!--<h1>IOS APP </h1>-->
							<!--<p>dummy text of the </p>-->
							<!--<p>printing & typesetting </p>-->
							<!--<a class="sign" href="#">Sign up now</a>-->
							<!--<a href="#"><i class="tick"></i></a>-->
						<!--</div>-->
							<div class="clearfix"> </div>
					</div>
				</article>
				 <article style="position: absolute; width: 100%; opacity: 0;"> 
			   	   	<div class="banner-info">
						<div class="col-md-12 info1">
							<img src="../static/images/logoall.png" class="img-responsive" alt="" />
						</div>
						<!--<div class="col-md-6 info">-->
							<!--<h1>Lorem Ipsum is simply </h1>-->
							<!--<p>dummy text of the </p>-->
							<!--<p>printing & typesetting </p>-->
							<!--<a class="sign" href="#">Sign up now</a>-->
							<!--<a href="#"><i class="tick"></i></a>-->
						<!--</div>-->
							<div class="clearfix"> </div>
					</div>
				</article>
				<ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="">2</a></li>
                </ul>
		  </div>		
		</div>
		<!-- script -->
          <script src="../static/js/jquery.wmuSlider.js"></script>
			<script>
       			$('.example1').wmuSlider();         
   		    </script>
			<!-- script -->		
	</div>
<!-- header -->
<!-- content -->
	<div class="contrary">
		<div class="container">
			<div class="col-md-4 penc">
				<i class="pencil"></i>
				<!--<h3>Contrary to popular</h3>-->
				<h3>核心团队</h3>
				<p>这儿有来自腾讯牛逼的产品设计师；也有来自阿里巴巴大数据分析师，助力业务精确推荐。我们的专业只为你提供定制化私人服务。</p>
			</div>
			<div class="col-md-4 devc">
				<i class="device"></i>
				<h3>运营体系</h3>
				<p>全面提供安全、稳定的云计算基础服务；并且为您保证7 X 24小时不间断提供服务，实现用户轻松一键化运营体系。</p>
			</div>
			<div class="col-md-4 cak">
				<i class="cake"></i>
				<h3>加盟合作</h3>
				<p>如果您是合作商，我们可以为您提供一站式解决方案；如果您是开发者，我们可以为您提供您所擅长的开发订单；请联系我们。</p>
			</div>
		</div>
	</div>
<!-- content -->
<!-- shopping -->
	<div class="shopping">
		<div class="container">
			<div class="col-md-6 cart">
			<h2>The Team Work</h2>
				<img src="../static/images/team-work.png" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 cart">
			<h2>Cooperative Business</h2>
				<img src="../static/images/cooperator.png" class="img-responsive" alt="" />
			</div>
			<!--<div class="col-md-4 bullet">-->
				<!--<h4>Some Bullet text here</h4>-->
				<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting -->
					<!--Lorem Ipsum has been the industry's standard dummy text ever -->
					<!--When an unknown printer took a galley of type and scrambled -->
					<!--It to make a type specimen book. It has survived not only five centuries-->
					<!--But also the leap into electronic typesetting,-->
					<!--Remaining essentially unchanged. It was popularised -->
					<!--The release of Letraset sheets containing Lorem Ipsum passages</p>-->
			<!--</div>-->
		</div>
	</div>
<!-- shopping -->
	<div class="footer">
		<div class="container">
			<p>Copyright &copy; 2015.爱博华科技 All rights reserved.</p>
		</div>	
	</div>

</body>
</html>