{% extends "base\init.html" %}


{% block header %}
<!-- header -->
	<div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="/index"><img src="../static/images/logo.png" class="img-responsive" alt="" /></a>
				</div>
				<div class="head-nav">
						<span class="menu"> </span>
							<ul>
								<li ><a href="/index">首页</a></li>
								<li><a href="/products">产品</a></li>
								<li class="active"><a href="/services">服务</a></li>
								<li><a href="/contact">关于</a></li>
								<div class="clearfix"> </div>
						</ul>
				</div>
					<div class="clearfix"> </div>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav -->
			</div>
		</div>
		<div class="container">
			<h2>Services</h2>
		</div>
	</div>
<!-- header -->
{% end %}

{% block body%}
<!-- service -->
<div class="service-section">
	<div class="container">
	<h2>Our Services</h2>
		<!-- portfolio-section -->
	 <div class="portfolio"  id="portfolio">
				<div id="portfoliolist">
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="../static/images/service-ads.png" class="swipebox"  title="广告设计"> <img src="../static/images/service-ads.png" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
							<h3>广告设计</h3>
							<p>平面设计、视觉识别系统设计、3D设计、互联网企业网站设计、多媒体动画制作、户外广告、报纸、杂志、影视媒体制作、新闻发布会以及企业产品发布会等。</p>
							<!--<a class="read" href="#">Read More</a>-->
		                </div>
					</div>
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							 <a href="../static/images/service-application.png" class="swipebox"  title="应用开发"> <img src="../static/images/service-application.png" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
							 <h3>应用开发</h3>
							<p>企业级应用网站，企业ERP系统，定制化web服务功能；移动端android、ios、微信公众号系列开发；专业为您提供全方位思路到方案落地的一站式解决方案。</p>
							<!--<a class="read" href="#">Read More</a>-->
		                </div>
					</div>

					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							 <a href="../static/images/servicce-data.png" class="swipebox"  title="数据分析"> <img src="../static/images/servicce-data.png" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
							 <h3>数据分析</h3>
							<p>根据客户提交的数据资料，并结合当前业界大数据进行分析，提取关键信息，形成结论报告，帮助客户作出更好的判断，以便在商业竞争中采取适当行动。</p>
							<!--<a class="read" href="#">Read More</a>-->
		                </div>
					</div>
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							 <a href="../static/images/service-operation.png" class="swipebox"  title="运营托管"> <img src="../static/images/service-operation.png" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
							 <h3>运营服务</h3>
							<p>包括系统服务平台的搭建，平台维护，内容维护，以及服务平台一系列活动的策划，口碑营销、数据监测与反馈评估等，助力于中小企业安心业务运营。</p>
							<!--<a class="read" href="#">Read More</a>-->
		                </div>
					</div>
					<div class="clearfix"></div>
				</div>
					<div class="clearfix"></div>
    </div>


	  <!-- Script for gallery Here -->
				<script type="text/javascript" src="../static/js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {

						var filterList = {

							init: function () {

								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});

							},

							hoverEffect: function () {

								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
									}
								);

							}

						};

						// Run the show!
						filterList.init();


					});
					</script>
<!-- portfolio-section  -->

		</div>
</div>
<!-- service -->
{% end %}